@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';

body {
    background: #0c0c0c;
    font-family: helvetica, arial, serif;
    font-size: 13px;
    text-transform: capitalize;
    /*text-align: center;*/
    padding: 0;
    margin: 0;
}
.brand{
    padding: 0;
    float: left;
    font-size: 15px;
    color: aliceblue;
    padding: 20px 30px;
}
.wrap {
    display: inline-block;
    /*-webkit-box-shadow: 0 0 70px #fff;*/
    /*-moz-box-shadow: 0 0 70px #fff;*/
    /*box-shadow: 0 0 70px #fff;*/
    /*margin-top: 40px;*/
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
    float: right;
    margin: 0;
}

li {
    float: left;
}


ul:after {
    clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
    position: relative;
    background: #2B2B2B;
    background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #0E0E0E;
    -webkit-box-shadow: 2px 2px 3px #888;
    -moz-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* prime */
ul.primary li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
    border-right: none;
}

ul.primary li a:hover {

    color: #000;
}

/* subs */
ul.sub {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 35%;
    display:none;
}

ul.sub li {
    float: none;
    margin: 0;
}

ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
}

ul.sub li:last-child a {
    border-bottom: none;
}

ul.sub li a:hover {
    color: #000;
    background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
    display: block;
    background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
}

ul.primary li:hover > a{
    color: #000;
}

.unit-copy-wrapper {
    position: relative;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    z-index: 4;
    pointer-events: none;
    color: white !important;
    text-transform: capitalize !important;
    margin-top: 4rem;
}
.headline{
    font-size: 50px;
    font-weight: lighter;
}
.subhead{
    font-size: 30px;
    font-weight: lighter;
    margin: 0 !important;
}
.price, .cta-links{
    font-size: 16px;
    color: #8B8B8B;
}
.cta-links{
    display: inline-block;
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .6em;
}
.cta-links a{
    color: #6bf;
    font-weight: lighter;
    display: inline-flex;
}

/*
*  Basic Reset
*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3498db;
}
a:hover {
    color: #2980b9;
}

h2 {
    line-height: 1.2;
    margin-bottom: 1.6rem;
}
.row{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}
.wrapper {
    max-width: 400px;
    margin: 50px auto;
    padding-left: 1em;
    padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
    box-shadow:
            0 1px 3px rgba(0,0,0, 0.12),
            0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 100px;
    background-color: #eee;
}
.card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.card__content {
    position: relative;
}

/* card meta */
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}

/* card article */
.card__article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
}
.card__article a:hover {
    color: #2980b9;
}

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}

.card__author {}

.card__author img,
.card__author-content {
    display: inline-block;
    vertical-align: middle;
}

.card__author img{
    border-radius: 50%;
    margin-right: 0.6em;
}

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
.card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-toggle {
    z-index: 2;
}
.share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db;
}
.share-toggle.share-expanded:before {
    content: "\f00d";
}

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow:
            0 2px 4px rgba(0,0,0, 0.12),
            0 2px 4px rgba(0,0,0, 0.24);
}
.share-icon:hover,
.share-icon:focus {
    box-shadow:
            0 3px 6px rgba(0,0,0, 0.12),
            0 3px 6px rgba(0,0,0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #00abe3;
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
    color: #eee;
}

.footer{
    padding: 10px;
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
}
@media only screen and (max-width: 600px) {

    .wrap {
        width: 100%;
        margin-top: 0px;
    }

    li {
        float: none;
    }

    ul.primary li:hover a {
        background: none;
        color: #8B8B8B;
        text-shadow: 1px 1px #000;
    }

    ul.primary li:hover ul {
        display: block;
        background: #272727;
        color: #fff;
    }

    ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }

    ul.sub li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }

    ul.sub li a:hover {
        color: #ccc;
        background: none;
    }
}